<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- При развертывании проекта библиотеки службы содержимое файла конфигурации необходимо добавить в файл 
  app.config компьютера размещения. Пространство имен System.Configuration не поддерживает файлы конфигурации для библиотек. -->
  <system.serviceModel>
    <services>
      <service name="ForumService.ForumService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/ForumService/ForumService/" />
          </baseAddresses>
          <timeouts closeTimeout="00:10:00" openTimeout="00:10:00" />
        </host>
        <!-- Service Endpoints -->
        <!-- Адрес будет относительным по отношению к указанному выше базовому адресу, если только не указан полный адрес -->
        <endpoint address="" binding="netTcpBinding" contract="ForumService.IForumService">
          <!-- 
              После развертывания необходимо удалить следующий идентификационный элемент или заменить его, чтобы отражать 
              идентификатор, под которым работает служба.  Если он был удален, WCF выведет соответствующий идентификатор 
              автоматически.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- Конечная точка Metadata Exchange используется службой, чтобы описать эту службу клиентам. -->
        <!-- Эта конечная точка не использует безопасную привязку, поэтому ее следует защитить или удалить до развертывания -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующему параметру значение "false". -->
          <serviceMetadata httpGetEnabled="False" />
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, 
          установите значение true для приведенного ниже параметра.  Перед развертыванием установите значение false, 
          чтобы избежать раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp" maxReceivedMessageSize="2147483647" receiveTimeout="00:30:00">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxStringContentLength="2147483647" />
          <reliableSession enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="ForumEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SITNMT2\SQLEXPRESS;initial catalog=Forum;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ForumEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SITNMT2\SQLEXPRESS;initial catalog=Forum;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>